
<div class="container" row pt-4>
    <div class="col-12 text-center">
        <h1 class="text-info text-center">The order failed</h1>
        Looks like <b>@Model</b> is out of stock<br /><br />
        <img src="/images/outOfStock.jpg" width="40%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Please remove the item from the cart and try again later <br />
    </div>
</div>